.popup {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  max-width: 430px;
  width: 100%;
  display: none;
}

/* Точка перелома между 320 и 1280 */
@media screen and (max-width: 740px) {
  .popup {
    max-width: 282px;
  }
}
